In [1]:
import pandas as pd

In [13]:
df = pd.read_table('../../Body/2Derived/dloops_control_regions.txt', sep='\t', index_col=False)

In [14]:
df.head()

,Species,Feature_name,Feature_location,Strand,Sequence,Notes
0,Eptatretus_burgeri,dloop,[12687:14545](+),1,CTCTACTATAAAAACCAAACCTTAATCGTTTGATTTTATCACCAAC...,NaN
1,Myxine_glutinosa,dloop,[12667:16295](+),1,CTTCACTACCTATATTGCCCCACCCACCTTTTTGAGGGTGGGTGGG...,NaN
2,Leucoraja_erinacea,dloop,[15664:16724](+),1,AAATATATCAGTACTAACTGGGCGACAATTTCGCCCTACTTAGTCA...,NaN
3,Heterodontus_francisci,control region,[15640:16708](+),1,GTAGTTATTAAAGCATTAAAATCGTGTTAAAAAACATGATTTTTAT...,control annotated as misc_feature
4,Squalus_acanthias,control region,[15658:16738](+),1,AATGTTAAAATCACGCTAAAATGTGATTTTTTAAAAGTAAGTCAGT...,control annotated as misc_feature

In [15]:
with open('../../Body/2Derived/dloops.fa', 'w') as outfile:
    for i in range(df.shape[0]):
        outfile.write('>{0}_{1}\n{2}\n'.format(df.Species[i], df.Feature_name[i], df.Sequence[i]))